# Variables de entorno para api-gateway
PORT=3000
USER_SERVICE_URL=tcp://localhost:4001
WEATHER_SERVICE_URL=tcp://localhost:4002
NOTIFICATION_SERVICE_URL=tcp://localhost:4003
ALERT_SERVICE_URL=tcp://localhost:4004
LOG_SERVICE_URL=tcp://localhost:4005
PREFERENCE_SERVICE_URL=tcp://localhost:4006
